* {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic','맑은고딕', Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #00008B;
}

/* Style the header */
header {	
  background-color: #666;
  padding: 2px;
  width: 90%;
  text-align: center;
  font-size: 11px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 10%;
  height: 600px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: disc;
  padding: 0;
  line-height:25px;
  font-size: 16px;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  height: 600px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

table, th, td {
  border: 1px solid #DCDCDC;
  border-collapse: collapse;
}

tr {
 vertical-align: top;
 line-height:25px;
}
a:link {
  color: #00008B;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #00008B;
  background-color: transparent;;
  text-decoration: none;
}
a:hover {
  color: #8B0000;
  background-color: #FFF8DC;
  text-decoration: underline;
  font-weight:bold;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
